<div class="dashboard">
  <div class="my-dashboard-components">
    <h1 class="mt-4" style="color: white; margin-left: 32px">DASHBOARD</h1>

    <div class="list-of-function mt-4">
      <div class="component-function">
        <a href="/functions/add-transaction">
          <div class="img-function" style="background-image: url('../public/img/test-img-function.jpg');"></div>
          <p style="color: white;">Add transaction</p>
        </a>
      </div>

      <div class="component-function">
        <a href="/functions/information-report">
          <div class="img-function" style="background-image: url('../public/img/statistics.png');"></div>
          <p style="color: white;">Information report</p>
        </a>
      </div>

      <div class="component-function">
        <a href="/functions/budget-plan">
          <div class="img-function" style="background-image: url('../public/img/budget-plan.png');"></div>
          <p style="color: white;">Budget plan</p>
        </a>
      </div>

      <div class="component-function">
        <a href="/functions/search-for-transactions">
          <div class="img-function" style="background-image: url('../public/img/searching.png');"></div>
          <p style="color: white;">Search for transactions</p>
        </a>
      </div>

      {{#if isAdmin}}  
      <div class="component-function">
        <a href="/admin/dashboard">
          <div class="img-function" style="background-image: url('../public/img/admin.png');"></div>
          <p style="color: white;">ADMIN</p>
        </a>
      </div>
      {{/if}}

      <div class="component-function disabled-div">
        <a class="#">
          <div class="overlay"></div>
          <div class="img-function" style="background-image: url('../public/img/AI.png');"></div>
          <div class="coming-soon">Coming soon...</div>
          <p style="color: white;">AI analyst</p>
        </a>
      </div>

    </div>
  </div>
</div>