<style>
  .text-blk {
    line-height: 25px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }

  .inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
  }

  .section-head-text {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
  }

  .section-subhead-text {
    color: rgb(72, 72, 72);
    font-size: 20px;
    line-height: 27px;
    max-width: 670px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .card {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 40px;
    padding-left: 25px;
    box-shadow: rgba(134, 134, 134, 0.16) 0px 6px 24px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgb(255, 255, 255);
  }

  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-wrapper {
    width: 175px;
    height: 175px;
    clip-path: circle(50% at 50% 50%);
  }

  .name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    line-height: 27px;
  }

  .position {
    line-height: 26px;
    color: rgb(0, 166, 127);
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .testimonial {
    color: rgb(122, 122, 122);
    font-size: 18px;
    line-height: 27px;
  }

  .outer-container {
    background-color: rgb(250, 250, 250);
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }

  .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }

  .swiper.team-swiper {
    max-width: 100%;
    width: 100%;
    height: fit-content;
  }

  .swiper-slide {
    display: inline-flex;
    justify-content: flex-start;
    height: auto;
  }

  .swiper-pagination.container-block {
    position: relative;
    top: 0px;
    margin-top: 36px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  /* .swiper-container-horizontal &gt; */

  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-left: 4px;
    height: 12px;
    width: 12px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 166, 127);
  }

  .swiper-wrapper {
    position: relative;
    top: 0px;
  }

  @media (max-width: 1024px) {
    .swiper-slide {

      justify-content: center;
    }
  }

  @media (max-width: 500px) {
    .outer-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  }

  /*reponsive*/
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  .wk-desk-1 {
    width: 8.333333%;
  }

  .wk-desk-2 {
    width: 16.666667%;
  }

  .wk-desk-3 {
    width: 25%;
  }

  .wk-desk-4 {
    width: 33.333333%;
  }

  .wk-desk-5 {
    width: 41.666667%;
  }

  .wk-desk-6 {
    width: 50%;
  }

  .wk-desk-7 {
    width: 58.333333%;
  }

  .wk-desk-8 {
    width: 66.666667%;
  }

  .wk-desk-9 {
    width: 75%;
  }

  .wk-desk-10 {
    width: 83.333333%;
  }

  .wk-desk-11 {
    width: 91.666667%;
  }

  .wk-desk-12 {
    width: 100%;
  }

  @media (max-width: 1024px) {
    .wk-ipadp-1 {
      width: 8.333333%;
    }

    .wk-ipadp-2 {
      width: 16.666667%;
    }

    .wk-ipadp-3 {
      width: 25%;
    }

    .wk-ipadp-4 {
      width: 33.333333%;
    }

    .wk-ipadp-5 {
      width: 41.666667%;
    }

    .wk-ipadp-6 {
      width: 50%;
    }

    .wk-ipadp-7 {
      width: 58.333333%;
    }

    .wk-ipadp-8 {
      width: 66.666667%;
    }

    .wk-ipadp-9 {
      width: 75%;
    }

    .wk-ipadp-10 {
      width: 83.333333%;
    }

    .wk-ipadp-11 {
      width: 91.666667%;
    }

    .wk-ipadp-12 {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .wk-tab-1 {
      width: 8.333333%;
    }

    .wk-tab-2 {
      width: 16.666667%;
    }

    .wk-tab-3 {
      width: 25%;
    }

    .wk-tab-4 {
      width: 33.333333%;
    }

    .wk-tab-5 {
      width: 41.666667%;
    }

    .wk-tab-6 {
      width: 50%;
    }

    .wk-tab-7 {
      width: 58.333333%;
    }

    .wk-tab-8 {
      width: 66.666667%;
    }

    .wk-tab-9 {
      width: 75%;
    }

    .wk-tab-10 {
      width: 83.333333%;
    }

    .wk-tab-11 {
      width: 91.666667%;
    }

    .wk-tab-12 {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    .wk-mobile-1 {
      width: 8.333333%;
    }

    .wk-mobile-2 {
      width: 16.666667%;
    }

    .wk-mobile-3 {
      width: 25%;
    }

    .wk-mobile-4 {
      width: 33.333333%;
    }

    .wk-mobile-5 {
      width: 41.666667%;
    }

    .wk-mobile-6 {
      width: 50%;
    }

    .wk-mobile-7 {
      width: 58.333333%;
    }

    .wk-mobile-8 {
      width: 66.666667%;
    }

    .wk-mobile-9 {
      width: 75%;
    }

    .wk-mobile-10 {
      width: 83.333333%;
    }

    .wk-mobile-11 {
      width: 91.666667%;
    }

    .wk-mobile-12 {
      width: 100%;
    }
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
  ul {
    list-style: none;
  }

  input {
    overflow: hidden;
  }

  .section-title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 0 0 35px;
  }

  .sec-pad {
    padding: 60px 0 0;
    margin: 50px 0;
  }

  .contact-sec {
    align-item: center;
    display: flex;
    background-color: #5cbde466;
  }

  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 20px;
    margin: 10px 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    word-wrap: break-word;
  }

  .contact-sec .contact-ul i {
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .contact-detail a {
    color: #000;
    text-decoration: none;
  }

  .contact-sec .contact-ul li b:hover {
    color: #f93;
  }

  .contact-sec .contact-ul li .fa-location-dot {
    color: #f44337;
    border: 2px solid #f4433790;
  }

  .contact-sec .contact-ul li .fa-phone {
    color: #00b055;
    border: 2px solid #00b05590;
  }

  .contact-sec .contact-ul li .fa-envelope {
    color: #ff6347;
    border: 2px solid #ff634790; 
  }

  .contact-detail span {
    width: 400px;
    display: flex;
    justify-content: center;
  }

  .contact-detail span a {
    font-size: 20px;
    padding: 6px 12px;
    color: #000;
    border-radius: 50%;
    margin: 0px 5px;
  }

  .contact-detail span .fb {
    color: #3b5998;
    border: 3px solid #3b5998;
  }

  .contact-detail span .fb:hover {
    color: #fff;
    background-color: #3b5998;
  }

  .contact-detail span .insta {
    color: #833ab4;
    border: 3px solid #833ab4;
  }

  .contact-detail span .insta:hover {
    color: #fff;
    background-color: #833ab4;
  }

  .contact-detail span .twitter {
    color: red;
    border: 3px solid red;
  }

  .contact-detail span .twitter:hover {
    color: #fff;
    background-color: red;
  }

  form.contFrm {
    max-width: 396px;
    margin: auto;
  }

  .inptFld {
    width: 100%;
    height: 50px;
    border: 0;
    margin: 0 0 10px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 16px;
    color: #000;
  }

  .inptFld:focus {
    outline-offset: -4px;
    outline: 1px solid #f93;
  }

  .contFrm textarea {
    height: 75px;
    padding-top: 5px;
  }

  .inptBtn {
    height: 50px;
    border: 0;
    background: #00b055;
    font-size: 14px;
    color: #fff;
    margin: auto;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
  }

  /* Responcive css Start */

  @media (max-width: 991px) {
    .sec-pad {
      padding: 20px 0 0px;
    }

    .contact-sec .contact-ul li,
    .contact-ul b {
      font-size: 18px;
    }

    .contact-sec .contact-ul i {
      font-size: 14px;
      padding: 6px;
      margin-right: 6px;
    }

    .inptFld {
      height: 40px;
      margin: 0 0 10px;
      padding: 0 14px;
      font-size: 14px;
    }
  }

  @media (max-width: 767px) {
    .contact-detail span {
      width: auto;
    }

    .contact-detail span a {
      font-size: 18px;
      padding: 5px 10px;
      color: #000;
      border-radius: 50%;
      margin: 0px 5px 20px;
    }
  }

  @media (max-width: 575px) {
    .section-title {
      font-size: 26px;
      font-weight: 500;
    }

    .contact-sec {
      border-radius: 10% 10% 0% 0% / 5% 5% 0% 0%;
    }

    .contact-sec .contact-ul i {
      border: none;
    }

    .inptFld {
      height: 36px;
      margin: 0 0 8px;
      padding: 0 14px;
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {

    .contact-sec .contact-ul li,
    .contact-ul b {
      font-size: 16px;
    }
  }

  .contact-container {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script>
  (function () {
    emailjs.init('FgEa1jQRpswhqMfEI');
  })();
</script>

<div class="responsive-container-block outer-container">
  <div class="responsive-container-block inner-container">
    <p class="text-blk section-head-text">
      Founding members
    </p>
    <p class="text-blk section-subhead-text">
      This team is composed of three of Thang Long University's brightest and most talented students. They are all
      highly motivated and have a strong track record of academic achievement. The team members are also passionate
      about their chosen field of study and are eager to make a real impact on the world.
    </p>
    <div class="responsive-container-block">
      <div class="swiper team-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card">
              <div class="img-wrapper">
                <img src="../public/img/hung.jpg">
              </div>
              <div class="card-content">
                <p class="text-blk name">
                  Đàm Hùng
                </p>
                <p class="text-blk position">
                  Development
                </p>
                <p class="text-blk testimonial">
                  Member
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="img-wrapper">
                <img src="../public/img/kien.jpg">
              </div>
              <div class="card-content">
                <p class="text-blk name">
                  Võ Văn kiên
                </p>
                <p class="text-blk position">
                  Development
                </p>
                <p class="text-blk testimonial">
                  Leader
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <div class="img-wrapper">
                <img src="../public/img/khanh.jpg">
              </div>
              <div class="card-content">
                <p class="text-blk name">
                  Nguyễn Khánh
                </p>
                <p class="text-blk position">
                  Development
                </p>
                <p class="text-blk testimonial">
                  Member
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination container-block">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-container">
  <section class="contact-sec sec-pad">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-detail">
            <h1 class="section-title">CONTACT US</h1>

            <ul class="contact-ul">
              <li><i class='bx bx-map'></i>Nghiêm Xuân Yêm, Đại Kim, Hoàng Mai, Hà Nội, Việt Nam</li>

              <li>
                <i class='bx bx-phone' ></i>
                <a href="tel:1900 232422"><b>1900 232422</b></a>,
              </li>

              <li>
                <i class='bx bx-envelope'></i>
                <a href="mailto:khanh9102004@gmail.com"><b>moneymanagement@gmail.com</b></a>
              </li>
            </ul>

            <span>
              <a href="https://www.facebook.com/thanglonguniversity/" class="fb"><i class='bx bxl-facebook-circle' ></i></a>
              <a href="https://www.instagram.com/thanglonguniversity/" class="insta"><i class='bx bxl-instagram' ></i></a>
              <a href="https://www.youtube.com/channel/UClrfICnLonC_sEF5TVEKc3A" class="twitter"><i class='bx bxl-youtube' ></i></a>
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div action="#" id="contactForm" class="contFrm" method="POST">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="name" id="from_name" placeholder="Your Name" class="inptFld" required />
              </div>

              <div class="col-sm-6">
                <input type="email" name="email" id="email_sender" placeholder="Email Address" class="inptFld" required />
              </div>

              <div class="col-sm-12">
                <input type="text" name="sub" id="subject" placeholder="Subject" class="inptFld" required />
              </div>

              <div class="col-12">
                <textarea class="inptFld" rows="" cols="" id="message" placeholder="Your Message..." required></textarea>
              </div>

              <div class="col-12">
                <button type="button" onclick="sendEmail()" name="submit" value="SUBMIT" class="inptBtn"> Send Message </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: center; margin-top: 20px;">
        <p> Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved 
        </p>
      </div>

    </div>
  </section>
</div>

<script>
    function sendEmail() {
    var params = {
      from_name: document.getElementById('from_name').value,
      to_name: 'Money management team',
      email_sender: document.getElementById('email_sender').value,
      message: document.getElementById('message').value,
      email_sendto: 'khanh9102004@gmail.com',
      subject: document.getElementById('subject').value
    };
    emailjs.send("service_ae6m95m","template_mj9v9tt",params).then(function (res) {
      alert('Email is sent success!');
    });
  }
</script>