<div class="welcome-container mt-4">
  <div class="welcome-content-left">

    <h1>Welcome to Money management !</h1>

    <blockquote class="blockquote text-right">
      <p class="mb-0">Do not save what is left after spending, but spend what is left after saving</p>
      <footer class="blockquote-footer"> Warren Buffett</footer>
    </blockquote>

    <p>We're thrilled to welcome you to our expense management platform.
      Whether you're looking to save, invest, or simply track personal finances,we
      have everything you need to manage your finances effectively. Get started
      today by logging in or creating a new account!</p>

    <form class="form-inline search-component-left">
      <input class="form-control mr-sm-2" type="search" placeholder="Search for any service..." aria-label="Search">
    </form>

    <div class="popular-search">
      <span style="    margin: 8px;">Popular: </span>
      <div class="hot-searches">
        <div>Manage invoice</div>
        <div>History Exchanges</div>
        <div>My income</div>
        <div>Money management</div>
      </div>
    </div>
  </div>
  <div class="welcome-content-right">
    <img class="component-logo-right" src="../public/img/my-logo.png" alt="logo-money-management">
  </div>
</div>